<div class="container-fluid mt-3">
    <h2 class="title_page_compos mb-4">{{page_title}}</h2>
    <div class="container">
        <div class="row">
            <p class="col-sm col-md">Management everything related to your projects!</p>
            <!--<a [routerLink]="['/folding']" class="col-sm-3 col-md-3 btn btn-success mr-2 btn-projects btn-block text-uppercase font-weight-bold mb-2">-->
                <a [routerLink]="['/folding']" class="col-sm-3 col-md-3 btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2 ">
                <i class="fas fa-file-upload mr-2"></i>
                New project
            </a>
        </div>
    </div>
    <hr/>

    <div class="card-columns">
        <article class="card w-100" *ngFor="let project of projects">
            <div class="card-header">
                <a [routerLink]="['/projects']">
                    <h3>{{project}}</h3>
                </a>
            </div>

            <div class="card-body">
                <!-- Imgen -->
                <div class="project-post-image w-100" >
                    <img src="https://via.placeholder.com/400x250" class="w-100" alt="project-image">
                </div>
                <!--  Botones -->
                <div class="row project-buttons mt-2  justify-content-center justify-content-sm-center">
                    <a [routerLink]="['/']" class="btn btn-success mr-2">Consult</a>
                    <a [routerLink]="['/']" class="btn btn-warning mr-2">Edit</a>
                    <a [routerLink]="['/']" class="btn btn-danger">Remove</a>
                </div>
            </div>
        </article>
    </div>

</div>