<div> <!-- INICIO CONTENEDOR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- INICIO BARRA DE NAVEGACIÓN -->
    
    <a class="navbar-brand" [routerLink]="['/']">
      
      <img src="assets/images/ADN_logo.gif" height="30"  class="d-inline-block align-top logo" alt="">
      <span class="title-logo">Bioinformatics Evolution</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link nlinks"  [routerLink]="['/folding']">
            <i class="fas fa-dna"></i>
            Folding
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item ">
          <a class="nav-link nlinks" [routerLink]="['/login']">
            <i class="fas fa-sign-in-alt"></i>
            Login
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link nlinks"  [routerLink]="['/register']">
            <i class="fas fa-user-plus"></i>
            Register
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nlinks-end" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Name
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dd-item" href="#">
              <i class="fas fa-user"></i>
              My profile
            </a>
            <a class="dropdown-item dd-item" href="#">
              <i class="fas fa-users-cog"></i>
              Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item dd-item" href="#">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav> <!-- FIN BARRA DE NAVEGACIÓN -->
</div> <!-- FIN CONTENEDOR PRINCIPAL -->

<div class="container container-main"> <!-- INICIO DEL CONTENEDOR PRINCIPAL -->
  <router-outlet></router-outlet> <!-- CONTENIDO -->
</div> <!-- FIN DEL CONTENEDOR PRINCIPAL -->

<!-- Footer -->
<div class="footer-dark mt-5">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Universidad Autonoma Metropolitana.</h3>
                  <p class="p-footer">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social">
                <a href="#">
                  <i class="fab fa-facebook-f" ></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-snapchat-ghost"></i>
                </a>
                <a href="#">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
          </div>
          <p class="copyright">Universidad Autonoma Metropolitana &copy; 2020</p>
      </div>
  </footer>
</div>

