#boardCorrelatedNetwork{    
    border: 1px solid orange;
    /* background-image: url("../../../assets/images/correlatedNetworks/XMS37/icp37.jpg"); */
}

.icp37{
    background-image: url("../../../assets/images/correlatedNetworks/icp37.jpg");
}

.icp38{
    background-image: url("../../../assets/images/correlatedNetworks/icp38.jpg");
}

.icp39{
    background-image: url("../../../assets/images/correlatedNetworks/icp39.jpg");
}

.icp40{
    background-image: url("../../../assets/images/correlatedNetworks/icp40.jpg");
}

.icp41{
    background-image: url("../../../assets/images/correlatedNetworks/icp41.jpg");
}

.icp42{
    background-image: url("../../../assets/images/correlatedNetworks/icp42.jpg");
}

.icp43{
    background-image: url("../../../assets/images/correlatedNetworks/icp43.jpg");
}

.icp44{
    background-image: url("../../../assets/images/correlatedNetworks/icp44.jpg");
}

.icp45{
    background-image: url("../../../assets/images/correlatedNetworks/icp45.jpg");
}

.icp46{
    background-image: url("../../../assets/images/correlatedNetworks/icp46.jpg");
}

.icp47{
    background-image: url("../../../assets/images/correlatedNetworks/icp47.jpg");
}

.icp48{
    background-image: url("../../../assets/images/correlatedNetworks/icp48.jpg");
}

.icp49{
    background-image: url("../../../assets/images/correlatedNetworks/icp49.jpg");
}

.icp50{
    background-image: url("../../../assets/images/correlatedNetworks/icp50.jpg");
}
