<h1>Select Correlated Network</h1>

<div id="contenedor">
    <canvas width="1000" height="1000" id="boardCorrelatedNetwork" 
        on-mouseup="releaseClick($event)" 
        on-mousedown="startClick($event)"
        (mousemove)="drawArea($event)">
        Your browser doesn't support canvas!
    </canvas>
</div>

<!-- <h1>Mouse Events</h1>
<div class="box" (mouseenter)="onEvent($event)" (mouseleave)="onEvent($event)" (mousemove)="coordinates($event)"
    on-click="onEvent($event)" on-dblclick="onEvent($event)" on-contextmenu="onEvent($event)">
    
    <p class="type">Type: {{event?.type}}</p>
    <p>x: {{clientX}}, y: {{clientY}}</p>
    <p>ctrl: {{event?.ctrlKey}}, shift: {{event?.shiftKey}}, meta: {{event?.metaKey}}</p>
    
</div> -->