<div class="col-md-12 mt-3">
    <h1> {{page_title}}</h1>
    <p>Enter the aminoacid or HP sequence of the protein to fold!</p>

    <!-- FORMULARIO DE FOLDING -->
    <form class="col-md-12 ml-0 pl-0 " #foldingForm="ngForm" (ngSubmit)="onSubmit(foldingForm)">

        <div class="form-group">
            <label for="aminoacid">Aminoacid or HP Sequence</label>
            <input type="text" name="aminoacid" class="form-control" #aminoacid="ngModel" [(ngModel)]="evolutionaryAlgorithm.aminoacid" required pattern="[a-zA-Z]+"/>

            <small *ngIf="!aminoacid.valid && aminoacid.touched" class="invalid-feedback d-block sml">
                The aminoacid is not valid.
            </small>
        </div>

        <div class="form-row">
            <!-- ESPACIO DEL PLEGAMIENTO -->
            <div class="form-group col-md-4">
                <label for="space_type">Space Types</label>
                <select name="space_type" class="form-control" #aminoacid="ngModel" [(ngModel)]="evolutionaryAlgorithm.space_type">
                    <option value="lattice">Lattice space</option>
                    <option value="correlational" selected>Correlational Network</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="dimension_type">Dimensions Types</label>
                <select id="dimension_type" class="form-control">
                    <option selected>2D Square</option>
                    <option>2D Triangle</option>
                    <option>3D Cubic</option>
                </select>
            </div>

            <!-- ALGORITMO DE OPTIMIZACIÓN -->
            <div class="form-group col-md-4">
                <label for="optimization">Optimization Algorithms</label>
                <select id="optimization" class="form-control">
                    <option selected>Simple</option>
                    <option>RankGA</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <!-- OPERADOR DE SELECCIÓN -->
            <div class="form-group col-md-4">
                <label for="selection_op">Selection Operator</label>
                <select id="selection_op" class="form-control">
                    <option selected>Roulette</option>
                    <option>Tournament</option>
                    <option>Top Percent</option>
                    <option>Population Decimation</option>
                </select>
            </div>

            <!-- OPERADOR DE CRUCE -->
            <div class="form-group col-md-4">
                <label for="crossover_op">CrossOver Operator</label>
                <select id="crossover_op" class="form-control">
                    <option selected>One-point</option>
                    <option>Two-points</option>
                    <option>Uniform</option>
                </select>
            </div>

            <!-- OPERADOR DE MUTACIÓN -->
            <div class="form-group col-md-4">
                <label for="mutation_op">Mutation Operator</label>
                <select id="mutation_op" class="form-control">
                    <option selected>Predefined</option>
                    <option>Random</option>
                </select>
            </div>
        </div>
        <hr />
        <p>Parameters</p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="conformations">Chose the number of conformations to generate</label>
                <input type="number" name="conformations" class="form-control" #conformations="ngModel" [(ngModel)]="evolutionaryAlgorithm.conformations" required pattern="[0-9]+" value="100"/>

                <small *ngIf="!conformations.valid && conformations.touched" class="invalid-feedback d-block sml">
                    The aminoacid is not valid.
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="times_algorithm">How many times do you want to run the evolutionary algorithm?</label>
                <input type="number" name="times_algorithm" class="form-control" value="200" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="experiments">How many experiments do you want to do?</label>
                <input type="number" name="experiments" class="form-control" value="1" />
            </div>

            <div class="form-group col-md-2">
                <label for="sampling">Sampling value</label>
                <input type="number" name="sampling" class="form-control" value="1" />
            </div>

            <div class="form-group col-md-5">
                <label for="percent_tournament">Percent of individuals in the tournament</label>
                <input type="number" name="percent_tournament" class="form-control" value="20" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="percent_best">Percent of the best individuals in the population</label>
                <input type="number" name="percent_best" class="form-control" value="20" />
            </div>

            <div class="form-group col-md-3">
                <label for="crossover_probability">CrossOver probability</label>
                <input type="number" name="crossover_probability" class="form-control" value="1.0" />
            </div>

            <div class="form-group col-md-4">
                <label for="min_mutation_probability">Minimum mutation probability</label>
                <input type="number" name="min_mutation_probability" class="form-control" value="0.0" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="max_mutation_probability">Maximum mutation probability</label>
                <input type="number" name="max_mutation_probability" class="form-control" value="0.01" />
            </div>

            <div class="form-group col-md-4">
                <label for="proximity_pairing">Proximity pairing (%)</label>
                <input type="number" name="proximity_pairing" class="form-control" value="0.01" />
            </div>
        </div>
        <div class="form-row justify-content-center">
            <input type="submit" value="Execute" class="btn btn-primary col-md-4" />
        </div>
        
    </form>
</div>