<div class="col-md-12 mt-3">
    <h2 class="title_page_compos mb-4">{{page_title}}</h2>
    


    <div class="container">
        <div class="row col-sm-12 p-0">
            <p class="col-sm col-md">Enter the aminoacid or HP sequence of the protein to fold!</p>
            
            <button (click)="saveProject()" class="btn btn-lg btn-success btn-folding text-uppercase font-weight-bold col-md-3" *ngIf="identity && identity.role=='ROLE_USER'" [disabled]="foldingForm.invalid">
                <i class="fas fa-save"></i>
                Save as project
            </button>
        </div>
    </div>

    <!-- FORMULARIO DE FOLDING -->
    <form class="col-md-12 ml-0 pl-0 " #foldingForm="ngForm" (ngSubmit)="onSubmit(foldingForm)">

        <div class="form-group">
            <label for="aminoacid">Aminoacid or HP Sequence</label>
            <input placeholder="Enter the aminoacid sequence " type="text" name="aminoacid" class="form-control" #aminoacid="ngModel" [(ngModel)]="evolutionaryAlgorithm.aminoacid" required pattern="[a-zA-Z]+" appAutoFocus/>

            <small *ngIf="!aminoacid.valid && aminoacid.touched" class="invalid-feedback d-block sml">
                The aminoacid isn't valid.
            </small>
        </div>

        <div class="form-row">
            <!-- ESPACIO DEL PLEGAMIENTO -->
            <div class="form-group col-md-4">
                <label for="space_type">Space Types</label>
                <select name="space_type" class="form-control" #space_type="ngModel" [(ngModel)]="evolutionaryAlgorithm.space_type">
                    <option value="lattice">Lattice Types</option>
                    <option value="correlated">Correlated Network</option>
                </select>
            </div>

            <div *ngIf="!isCorrelational()" class="form-group col-md-4">
                <label for="dimension_type">Dimensions Types</label>
                <select name="dimension_type" class="form-control" #dimension_type="ngModel" [(ngModel)]="evolutionaryAlgorithm.dimension_type">
                    <option value="2D_Square">2D Square</option>
                    <option value="2D_Triangle">2D Triangle</option>
                    <option value="3D_Cubic">3D Cubic</option>
                </select>
            </div>

            <div *ngIf="isCorrelational()" class="form-group col-md-4">
                <label for="dimension_type">Dimensions Types</label>
                <select name="dimension_type" class="form-control" #dimension_type="ngModel" [(ngModel)]="evolutionaryAlgorithm.dimension_type">
                    <option value="2D_Square_Correlated">2D Square Correlated</option>
                    <option value="2D_Triangle_Correlated">2D Triangle Correlated</option>
                    <option value="3D_Cubic_Correlated">3D Cubic Correlated</option>
                </select>
            </div>

            <!-- ALGORITMO DE OPTIMIZACIÓN -->
            <div class="form-group col-md-4">
                <label for="optimization">Optimization Algorithms</label>
                <select name="optimization" class="form-control" #optimization="ngModel" [(ngModel)]="evolutionaryAlgorithm.optimization">
                    <option value="simple">Simple</option>
                    <option value="rankGA">RankGA</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <!-- OPERADOR DE SELECCIÓN -->
            <div class="form-group col-md-4">
                <label for="selection_op">Selection Operator</label>
                <select name="selection_op" class="form-control" #selection_op="ngModel" [(ngModel)]="evolutionaryAlgorithm.selection_op">
                    <option value="roulette">Roulette</option>
                    <option value="tournament">Tournament</option>
                    <option value="top_percent">Top Percent</option>
                    <option value="population_decimation">Population Decimation</option>
                </select>
            </div>

            <!-- OPERADOR DE CRUCE -->
            <div class="form-group col-md-4">
                <label for="crossover_op">CrossOver Operator</label>
                <select name="crossover_op" class="form-control" #crossover_op="ngModel" [(ngModel)]="evolutionaryAlgorithm.crossover_op">
                    <option value="one_point">One-point</option>
                    <option value="two_points">Two-points</option>
                    <option value="uniform">Uniform</option>
                </select>
            </div>

            <!-- OPERADOR DE MUTACIÓN -->
            <div class="form-group col-md-4">
                <label for="mutation_op">Mutation Operator</label>
                <select name="mutation_op" class="form-control" #mutation_op="ngModel" [(ngModel)]="evolutionaryAlgorithm.mutation_op">
                    <option value="predefined">Predefined</option>
                    <option value="random">Random</option>
                </select>
            </div>
        </div>
        <hr/>
        <img src="../../../assets/images/logoEVOLUTION_conBordes.gif" class="img-fluid rounded mx-auto d-block" alt="">
        <hr/>
        <p>Parameters</p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="conformations">Chose the number of conformations to generate</label>
                <input type="number" name="conformations" class="form-control" #conformations="ngModel" [(ngModel)]="evolutionaryAlgorithm.conformations" required pattern="[0-9]+"/>

                <small *ngIf="!conformations.valid && conformations.touched" class="invalid-feedback d-block sml">
                    The conformations are not valid.
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="times_algorithm">How many times do you want to run the evolutionary algorithm?</label>
                <input type="number" name="times_algorithm" class="form-control" #times_algorithm="ngModel" [(ngModel)]="evolutionaryAlgorithm.times_algorithm" required pattern="[0-9]+"/>

                <small *ngIf="!times_algorithm.valid && times_algorithm.touched" class="invalid-feedback d-block sml">
                    The times to run the evolutionary algorithm are not valid.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="experiments">How many experiments do you want to do?</label>
                <input type="number" name="experiments" class="form-control" #experiments="ngModel" [(ngModel)]="evolutionaryAlgorithm.experiments" required pattern="[0-9]+" />

                <small *ngIf="!experiments.valid && experiments.touched" class="invalid-feedback d-block sml">
                    The experiments are not valid.
                </small>
            </div>

            <div class="form-group col-md-2">
                <label for="sampling">Sampling value</label>
                <input type="number" name="sampling" class="form-control" #sampling="ngModel" [(ngModel)]="evolutionaryAlgorithm.sampling" required pattern="[0-9]+" />

                <small *ngIf="!sampling.valid && sampling.touched" class="invalid-feedback d-block sml">
                    The value is not valid.
                </small>
            </div>

            <div class="form-group col-md-5">
                <label for="percent_tournament">Percent of individuals in the tournament</label>
                <input type="number" name="percent_tournament" class="form-control" #percent_tournament="ngModel" [(ngModel)]="evolutionaryAlgorithm.percent_tournament" required pattern="[0-9]+" />

                <small *ngIf="!percent_tournament.valid && percent_tournament.touched" class="invalid-feedback d-block sml">
                    The percent of individuals is not valid.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="percent_best">Percent of the best individuals in the population</label>
                <input type="number" name="percent_best" class="form-control" value="20" #percent_best="ngModel" [(ngModel)]="evolutionaryAlgorithm.percent_best" required pattern="[0-9]+"/>

                <small *ngIf="!percent_best.valid && percent_best.touched" class="invalid-feedback d-block sml">
                    The percent best is not valid.
                </small>
            </div>

            <div class="form-group col-md-3">
                <label for="crossover_probability">CrossOver probability</label>
                <input type="number" name="crossover_probability" step="0.1" class="form-control" #crossover_probability="ngModel" [(ngModel)]="evolutionaryAlgorithm.crossover_probability" required pattern="([0-9])(.[0-9]+)?" />

                <small *ngIf="!crossover_probability.valid && crossover_probability.touched" class="invalid-feedback d-block sml">
                    The crossover probability is not valid.
                </small>
            </div>

            <div class="form-group col-md-4">
                <label for="min_mutation_probability">Minimum mutation probability</label>
                <input type="number" name="min_mutation_probability" step="0.1" class="form-control" #min_mutation_probability="ngModel" [(ngModel)]="evolutionaryAlgorithm.min_mutation_probability" required pattern="([0-9])(.[0-9]+)?" />

                <small *ngIf="!min_mutation_probability.valid && min_mutation_probability.touched" class="invalid-feedback d-block sml">
                    The min mutation probability is not valid.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="max_mutation_probability">Maximum mutation probability</label>
                <input type="number" name="max_mutation_probability" step="0.01" class="form-control" #max_mutation_probability="ngModel" [(ngModel)]="evolutionaryAlgorithm.max_mutation_probability" required pattern="([0-9])(.[0-9]+)?" />

                <small *ngIf="!max_mutation_probability.valid && max_mutation_probability.touched" class="invalid-feedback d-block sml">
                    The max mutation probability is not valid.
                </small>
            </div>

            <div class="form-group col-md-4">
                <label for="proximity_pairing">Proximity pairing (%)</label>
                <input type="number" name="proximity_pairing" step="0.01" class="form-control" #proximity_pairing="ngModel" [(ngModel)]="evolutionaryAlgorithm.proximity_pairing" />

                <small *ngIf="!proximity_pairing.valid && proximity_pairing.touched" class="invalid-feedback d-block sml">
                    The proximity pairing is not valid.
                </small>
            </div>
        </div>

        <!-- Botones -->
        <div class="container">
            <div class="row justify-content-center">  
                <button type="submit" value="" class="btn btn-lg btn-primary btn-folding text-uppercase font-weight-bold mb-2 col-md-3 mr-2" [disabled]="foldingForm.invalid">
                    <i class="fas fa-play-circle"></i>
                    Execute
                </button>              
                <!--<input type="submit" value="Execute" class="btn btn-lg btn-primary btn-folding text-uppercase font-weight-bold mb-2 col-md-3 mr-2" />  -->            
                <!--<input type="submit" value="Save as project" class="btn btn-lg btn-success btn-folding text-uppercase font-weight-bold mb-2 col-md-3" *ngIf="identity && identity.role=='ROLE_USER'"/>-->
                
            </div>
        </div>
        
    </form>
</div>