<div class="col-md-12 mt-3">
    <h1 class="title_page_compos mb-3">{{page_title}}</h1>
    <p>Remove user's and grant administrator permissions!</p>

    <table class="table  table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Milton</td>
            <td>Ponce</td>
            <td>miltonponceipn@gmail.com</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Give permissions</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Give permissions</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Give permissions</button></td>
          </tr>
        </tbody>
      </table>
</div>