<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image rounded img-fluid"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class=" login-heading mb-4">{{page_title}}</h1>

              <div class="alert alert-danger" *ngIf="status == 'error'">
                Login failed. {{ this.message }}               
              </div>

              <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input placeholder="Email address" type="email" name="email" class="form-control" #email="ngModel"
                    [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" appAutoFocus />

                  <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                    The email is not valid.
                  </small>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input placeholder="Password" type="password" name="password" class="form-control" #password="ngModel"
                    [(ngModel)]="user.password" required />

                  <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                    The password is not valid.
                  </small>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit" [disabled]="loginForm.invalid">Sign in</button>
                <div class="text-center">
                  <a class="small" href="#">Forgot password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>