<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image rounded img-fluid"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h1 class=" login-heading mb-4">{{page_title}}</h1>

                            <div class="alert alert-success" *ngIf="status == 'success'">
                                Registration was successful, <a [routerLink]="['/login']">login here.</a>
                            </div>

                            <div class="alert alert-danger" *ngIf="status == 'error'">
                                Registration wasn't successfully.                                
                                <div *ngFor="let item of errors">
                                    <hr/>
                                    <div>{{item}}</div>                                    
                                </div>                        
                            </div>

                            <form class="" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" placeholder="Username"
                                        class="form-control" #name="ngModel" [(ngModel)]="user.name" required
                                        pattern="[a-zA-Z]+" appAutoFocus />

                                    <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block sml">
                                        The name isn't valid.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="surname">Surname</label>
                                    <input type="text" name="surname" placeholder="Surname"
                                        class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required
                                        pattern="[a-zA-Z]+" />

                                    <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                                        The surname isn't valid.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email"
                                        placeholder="Email address"
                                        class="form-control" #email="ngModel" [(ngModel)]="user.email" required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />

                                    <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                                        The email isn't valid.
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" placeholder="Enter your password."
                                    minlength="6" class="form-control" #password="ngModel" [(ngModel)]="user.password" required />

                                    <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                                        The password isn't valid, required at least 6 characters.
                                    </small>
                                </div>

                                <input type="submit" value="SIGN UP" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                    [disabled]="registerForm.invalid" />
                                    
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>