<div class="col-md-12 mt-3">
    <h1 class=" title_page_compos mb-4">{{page_title}}</h1>
    <p>Register in our application to fold proteins!</p>

    <!-- FORMULARIO DE REGISTRO -->
    <form class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter your username." class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+" appAutoFocus/>

            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block sml">
                The name is not valid.
            </small>
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" name="surname" placeholder="Enter your surname." class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+" />

            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                Surnames are not valid.
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter your email, example: username@gmail.com." class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>

            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                The email is not valid.
            </small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password." class="form-control" #password="ngModel" [(ngModel)]="user.password" required/>

            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                The password is not valid.
            </small>
        </div>        
        <input type="submit" value="SIGN UP" class="btn btn-success" [disabled]="registerForm.invalid"/>        
    </form>
</div>