.avatar {
    vertical-align: middle;
    width: 250px;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 15px;
}

@media (max-width: 800px){
    .avatar {
        width: 200px;
    }
}

.separacion{
    margin-left: 10px;
}

.profile_picture{
    margin-top: 25px;
}

.login-heading {
    font-weight: 400;
}

.btn-settings {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }