<div class="container">
    <div class="col-md-12 mt-3 personal-info">
        <h2 class=" login-heading mb-4">{{page_title}}</h2>
        <p>Modify your personal user data, and upload an avatar!!</p>
        <hr/>

        <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
            <div class="container">
                <div class="row">
                    <!-- Formulario de Ajustes-->
                    <div class="col-sm col-md">
                        <!-- Alerta Success -->
                        <div class="alert alert-success alert-dismissable" *ngIf="status == 'success'">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            Changes were successful!
                        </div>
                        <div class="alert alert-danger alert-dismissable" *ngIf="status == 'error'">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            Changes weren't made correctly!
                        </div>

                        <div class="form-group">
                            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+" placeholder="User name"/>

                            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                                The name isn't valid.
                            </small>
                        </div>

                        <div class="form-group">
                            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+" placeholder="User surname"/>

                            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                                The surname isn't valid.
                            </small>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email address" class="form-control" #email="ngModel" [(ngModel)]="user.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="User email" />

                            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                                The email isn't valid.
                            </small>
                        </div>

                        <!--<div class="form-group">
                            <textarea [froalaEditor] [(froalaModel)]="user.description" name="description" class="form-control" #description="ngModel" [(ngModel)]="user.description" rows="3" ></textarea>
                        </div>-->

                        <div class="form-group">
                            <editor
                                [init]="options_tiny" name="description"  #description="ngModel" [(ngModel)]="user.description">
                            </editor>

                            <!--<textarea name="description" class="form-control" #description="ngModel" [(ngModel)]="user.description" rows="3" placeholder="Introduce una descripción!"></textarea>-->
                        </div>


                    </div>
                    <!-- PICTURE  -->
                    <div class="col-sm col-md profile_picture">
                        <div class="form-group">
                            <div class="text-center">
                                <div *ngIf="identity && identity.image">
                                    <img src="{{url + 'user/image/' + identity.image }}" class="avatar img-fluid mx-auto d-block" alt="avatar">
                                </div>
                                <div *ngIf="identity && identity.image == undefined">
                                    <img src="../../../assets/images/profile_default_1.png" class="avatar " alt="avatar">
                                </div>                                

                                <!-- <h6 class="mt-2 mb-2">Upload a different photo!</h6> -->

                                <!-- <input type="file" name="image" class="form-control"/> -->
                                <angular-file-uploader
                                    [config]="afuConfig"
                                    (ApiResponse)="imageUpload($event)">
                                </angular-file-uploader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <input type="submit" value="save changes" class="btn btn-lg btn-primary btn-block btn-settings text-uppercase font-weight-bold mt-2 mb-2 col-md-3" [disabled]="userEditForm.invalid" />
            </div>
        </form>
    </div>
</div>